* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 325px;
  height: 85vh;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  position: fixed;
  right: 20px;
  top: 20px;
}

#chat {
  width: 100%;
  overflow-y: auto;
  max-height: 300px;
  margin-bottom: 10px;
}

#chat-form{
  border-top: solid;
}
#chat-input{
  border: solid 1px;
  padding-left: 5px;
}


.myMessage {
    color: aqua;
}

.serverMessage {
    color: red;
}

.others {
    color: black;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#chat-form button:hover {
  background-color: #45a049;
}

.end-call {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Should match the width for a perfect circle */
  border-radius: 50%; /* Ensures a perfect circle */
  padding: 10px; /* Adjust padding as needed */
}

.info-but{
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Should match the width for a perfect circle */
  border-radius: 50%; /* Ensures a perfect circle */
  padding: 10px; /* Adjust padding as needed */
}

.but-container {
  display: grid;
  grid-row: inherit;
  gap: 5rem; /* Adjust the value to set the desired gap */
  padding: 10px;
  background: white;
  border-radius: 30px;
  width: 500px;
}

.but-container-in {
  max-width: max-content;
  margin: auto;
  display: flex;
  gap: 3rem;
}

.input-group {
  padding-top: 10px;
  position: relative;
}

.input-group {
  position: relative;
}

.input-group-addon {
  border: none;
}

.linkname {
  display: none;
}

#copyButton {
  cursor: pointer;
  background: #f1bb3a;
}

#copyTarget {
  border-left: none;
}

.copied {
  opacity: 1;
  position: absolute;
  left: 55px;
}

@media (min-width: 768px) {
  .copied {
    left: 135px;
  }

  .linkname {
    display: block;
    background: #3b3e45;
    color: #fff;
  }
}

.modal-header{
  border-bottom: none;
}
