* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222629;
  color:bisque;
  font-family: Arial, sans-serif;
  background-size: cover;
  font-size: 15px;
    background: linear-gradient(236deg, #000000, #818181);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}
@keyframes AnimationName {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #474b4f;
  border-radius: 15px;
  background-color: #474b4f;
  z-index: 2;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #474b4f;
  border-radius: 3px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color:lightslategrey;
  color: azure;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(162, 208, 255);
  color: #494949;
}

p {
  margin-top: 15px;
}

.toggle {
  display: inline-block;
}

.form-check-input {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.toggle-label:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.form-check-input:checked + .toggle-label {
  background-color: goldenrod;
}

.form-check-input:checked + .toggle-label:before {
  transform: translateX(25px);
}
.profile-data{
  color: darkblue;
  font-weight: 700;
}

#navbar{
  margin-bottom: 15%;
}
